absl-py==1.0.0
astor==0.8.1
CacheControl==0.12.11
certifi==2021.10.8
charset-normalizer==2.0.12
csbdeep==0.6.3
cycler==0.11.0
fonttools==4.33.3
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.44.0
h5py==2.10.0
idna==3.3
imageio==2.18.0
importlib-metadata==4.11.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
llvmlite==0.38.0
Markdown==3.3.6
matplotlib==3.5.1
msgpack==1.0.3
networkx==2.6.3
numba==0.55.1
numpy==1.21.6
opencv-python-headless==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
Pillow==9.1.0
protobuf==3.20.1
pyparsing==3.0.8
python-dateutil==2.8.2
PyWavelets==1.3.0
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
scikit-image==0.19.2
scipy==1.7.3
Shapely==1.8.1.post1
six==1.16.0
stardist==0.5.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tifffile==2021.11.2
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
Werkzeug==2.1.2
wrapt==1.14.0
zipp==3.8.0
